.selected {
    background-color: rgb(248, 228, 231);
    color: darkred;
    border-radius: 18px !important;
    padding: 6px 10px;
    font-weight: bold;
    transition: all 0.8s ease-in-out;
}

.unselected {
    border-radius: 18px !important;
    padding: 6px 10px;
    border: 1px solid #ccc;
    background-color: white;
    transition: all 0.8s ease-in-out;
}

.unselected:hover {
    background-color: rgb(248, 228, 231);
    color: darkred;
    cursor: pointer;
}